body{
    font-family: 'Raleway', sans-serif;  
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    max-width: 1340px;
    font-size: 16px;
    padding: 0 2rem;
}
a {
    text-decoration: none;
}
h1{
    margin-top: 40px;
    font-size: 2rem;
    font-weight: bold;
    display: block;
}
h2{
    display: block;
    font-size: 1.4rem;
    font-weight:bolder; 
}
h3{
    display: block;
    font-size: 1rem;
    font-weight: bolder;
}

.zoom {
    transition: transform 0.1s;
}
  
.zoom:hover {
    transform: scale(1.1); 
    cursor: pointer;
}
#returnLine {
        flex-basis: 100%;
        width: 0;
}

header {
    display: flex;     
    flex-direction: row;
    align-items: center;
    padding: 0 2rem;
}
#logo{
    width: 100%;
    height: auto;
    max-width: 92px;
}
nav{
    margin-left: auto;
    font-weight: bold;;
}
nav ul {
    margin: 0px;
    padding: 0px;
    list-style:none;
}
nav a {
    padding: 1em;
    display: block;
    text-align:center;
}

#menu {
    display: flex; 
    flex-direction : row;
    width: 336px;
}
#menu ul li {
    display: inline-block;
    line-height: 100px;
  }
#menu a {
    color: #000;
    padding: 5px;
    border: 1px solid transparent;   
    padding: 0 2rem; 
    font-size: 1rem;
}
#menu li a.active {    
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
#menu li a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
.signUp{
    font-weight: bold;
    margin-left: 70px;
    color: #0065FC;    
    align-self: center;

}
article{
    display: flex;
    flex-direction: column ;
}
#search {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    min-width: 410px;
  }
#search img {
    width: 14px; background-color: #F2F2F2; padding: 0px 14px;border-radius: 12px 0px 0px 12px;
}  
#search input{
    padding: 1px 10px; 
    line-height: 40px;
    outline: none !important;
    border:1px solid #F2F2F2;
    font-weight: bold;
    font-size: 1em ;
}
#search input::placeholder{
    color: rgb(192, 192, 192);
}
#search button {
    background-color: #0065FC;
    border: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    font-size: 14px;
    border-radius: 0px 12px 12px 0px;
    font-weight: bold;
}
#search .icon {
    display:none;
}
#search .text {
    display:inline-block;
}
#filters{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 825px;
}
#filters .filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    border: 3px solid #F2F2F2;
    padding-right: 20px;
    border-radius: 30px;
    font-weight: bold;
    width: auto;

}
#filters .filter img{
    width: 20px;

}
.info{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 20px;      
      flex-basis: 100%;
      width: 0;
      margin-bottom: 2rem;
}
.iconWrapper{
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 45px; 
    height: 45px; 
    background-color: #DEEBFF;
    border-radius: 50px;
    margin-right: 15px;
}

.iconWrapper2{
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 25px; 
    height: 25px; 
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 50px;
    margin-right: 15px;
}

#accommodations {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}
#accommodationsResultsFormat {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2 ;    
    width: 80%;
    border-radius: 12px;
    padding: 1rem 2rem;
    margin-right: 2rem;
}
#accommodationsResults {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;    
}

#accommodationsResults .card {
    /* width: 250px; */
    height: 200px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 16px rgba(97, 97, 97, 0.192);
    margin-bottom: 25px;
    transition: transform 0.2s;
}

#accommodationsResults .card img {
    border-radius: 12px 12px 0 0;
    width: 240px;
    height: 60%;
    margin: 5px 5px 0 5px;
    object-fit: cover;
  }
#accommodationsResults .card .container {
    line-height: 5px;
    padding-left: 1rem;
}
#accommodationsResults .card h3 {
    line-height: 5px;
    margin-top: 0.8rem;
}


#accommodations .rating ul {
    padding: 2rem;
   }
#accommodations .rating ul li.ok {
    font-size: 200%;
    display : list-item;
    list-style-image : url("images/icones/star-solid.svg");
}
#accommodations .rating ul li.nok {
    font-size: 200%;
    display : list-item;
    list-style-image : url("images/icones/star-solid_grey.svg");
}
   

#accommodationsResults .card .rating ul{
    display: flex;
    flex-direction: row;
    list-style:none;
    padding: 0.7rem 1.3rem;
    margin: 0;    
}
#accommodationsResults .card .rating ul li{
    padding: 0 0;
    margin: 0;    
    width: 1rem;
}
#accommodationsResults .card .rating img{
    width: 1.5rem;
    margin: 0;
    object-fit:unset;
}
#accommodationsResults .card .container p{
    padding: 0;
    margin: 0;
}

#accommodationsPopular {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2 ;
    width: 420px;    
    padding: 1rem 2rem;
    border-radius: 12px;
}

#accommodationsPopular #upTitleFormat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      
}
#accommodationsPopular #upTitleFormat img {
    width: 22px;
    padding-right: 1rem;
}
#accommodationsPopular h3 {
    font-size: 1rem;
    font-weight: bolder;
}

#accommodationsPopular .card {
    display: flex;
    flex-direction: row;
    height: 145px;
    min-width: 321px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 16px rgba(97, 97, 97, 0.192);
    margin-bottom: 30px;
    transition: transform 0.2s;
}

#accommodationsPopular .card img {
    border-radius: 12px 0 0 12px;
    width: 8rem;
    margin: 5px;
    object-fit: cover;
  }
#accommodationsPopular .card .container {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    position: relative;
}
#accommodationsPopular .card .rating ul{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    list-style:none;
    padding: 0;
    position: absolute;
    top: 100px;

}
#accommodationsPopular .card .rating ul li{
    padding: 0 0;
    margin: 0;    
    width: 1rem;
}
#accommodationsPopular .card .rating img{
    width: 1rem;
    padding: 0;
    margin: 0;
    object-fit:unset;
    border-radius: 0;
}
#accommodationsPopular .card .container p{
    padding: 0;
    margin: 0;
}

#activity {
    margin: 2rem 0;
    display: grid;
    grid-gap: 1rem;
}
#activity #upTitleActivity {       
    grid-column: 1;
    grid-row: 1; 
}
#activity .card {
    display: flex;
    flex-direction: column;
    width: 300px;
    transition: transform 0.2s;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 16px rgba(97, 97, 97, 0.192);   
}
#activity .card1 {        
    height: 445px;    
    grid-column: 1;
    grid-row: 2;   
}
#activity .card2 {  
    height: 238px;     
    grid-column: 2;
    grid-row: 2;
}
#activity .card3 {  
    height: 165px;       
    grid-column: 2;
    grid-row: 2;     
    margin-top: 17.5rem;
}
#activity .card4 {   
    height: 445px;       
    grid-column: 3;
    grid-row: 2;
}
#activity .card5 {   
    height: 195px;       
    grid-column: 4;
    grid-row: 2;
}
#activity .card6 { 
    height: 210px;     
    grid-column: 4;
    grid-row: 2;       
    margin-top: 14.6rem;
}
#activity .card img {
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
  }
#activity .card1 img {
    height: 90%;
}
#activity .card2 img {
    height: 80%;
}
#activity .card3 img {
    height: 70%;
}
#activity .card4 img {
    height: 90%;
}
#activity .card5 img {
    height: 75%;
}
#activity .card6 img {
    height: 80%;
}
#activity .card .container {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
}
footer{
    display: flex;
    flex-direction: row;
    align-content:space-between;
    background-color: #F2F2F2;
    height: 220px;
    margin-top: 60px;
    padding: 2rem 4rem;
}

footer ul {
    list-style: none;
    padding: 0;
    line-height: 2rem;
}
footer div {
    margin-right: 14%;
}

@media (max-width: 1279px) {
    #activity .card {          
        margin-bottom: 3rem;
        height: 250px;
    }
    #activity .card img{          
        height: 200px;
    }
    #activity .card1 {            
        grid-column: 1;
        grid-row: 2;   
    }
    #activity .card2 {       
        grid-column: 2;
        grid-row: 2;
    }
    #activity .card3 {         
        grid-column: 3;
        grid-row: 2;
        margin-top: 0;
    }
    #activity .card4 {          
        grid-column: 1;
        grid-row: 3;
    }
    #activity .card5 {          
        grid-column: 2;
        grid-row: 3;
    }
    #activity .card6 {      
        grid-column: 3;
        grid-row: 3;
        margin-top: 0;
    }
}
@media (max-width: 1024px) {    
    nav {
       margin-left: 0;
        display: flex;
        justify-items: flex-start;
    }
    body{
        font-family: 'Raleway', sans-serif;  
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 0;
    }
    #accommodations {
        display: flex;
        flex-direction: column;
    }
    #accommodationsResultsFormat {   
        width: 95%;
    }

    #accommodationsPopular {
        margin-top: 1rem;
        width: 95%;
    }
    #activity .card {          
        margin-bottom: 3rem;
        height: 250px;
    }
    #activity .card img{          
        height: 200px;
    }
    #activity .card1 {            
        grid-column: 1;
        grid-row: 2;   
    }
    #activity .card2 {       
        grid-column: 2;
        grid-row: 2;
    }
    #activity .card3 {         
        grid-column: 1;
        grid-row: 3;
        margin-top: 0;
    }
    #activity .card4 {          
        grid-column: 2;
        grid-row: 3;
    }
    #activity .card5 {          
        grid-column: 1;
        grid-row: 4;
    }
    #activity .card6 {      
        grid-column: 2;
        grid-row: 4;
        margin-top: 0;
    }
    footer {
        flex-direction: column;
        height: 100%;
    }
}

@media (max-width: 777px) {

        header{
            display: grid;
            justify-content: center;
        }
        #logo{
            grid-column: 1;
            grid-row: 1;
        }
        #menu{
            grid-column: 1/2;
            grid-row: 2;
        }
        #menu li a:hover {
            border-top: 0;
            border-bottom: 2px solid #0065FC;
        }
        #menu li a.active {
            border-top: 0;
            border-bottom: 2px solid #0065FC;
        }
        .signUp{
            grid-column: 1;
            grid-row: 1;
            margin-left: 260px;
        }
        article {
            align-items: center;
        }
        article h1 {
            margin-left: 5%;
            font-size: 1.8rem;
        }
        #search {
            display: flex;
            justify-content: center;
        }
        #search .icon {
            display:inline-block;
        }
        #search .icon img:nth-child(1){
            background-color: transparent;
            width: 1rem; ;
            padding-left: 0rem;
        }
        #search .text {
            display:none;
        }
        #search button{
            border-radius: 12px;
            width: 60px;
        }
        #filters{
            display: grid;
            grid-gap: 1rem;
            max-width: 388px;
        }
        #filters :nth-child(1){            
            grid-column: 1;
            grid-row: 1;
        }
        #filters :nth-child(2){            
            grid-column: 1;
            grid-row: 2;
        }
        #filters :nth-child(3){            
            grid-column: 2;
            grid-row: 2;
        }
        #filters :nth-child(4){            
            grid-column: 1;
            grid-row: 3;
        }        
        #filters :nth-child(5){            
            grid-column: 1;
            grid-row: 4;
        } 
        #filters :nth-child(6){            
            grid-column: 1 / 3;
            grid-row: 5;
        }     
        .info {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 0px;
            width: auto;
            margin-bottom: 2rem;
        }
        #accommodations {
            flex-direction: column-reverse;
        }
        #accommodations h2 {
            margin-right: 25px;
        }
        #accommodationsResultsFormat {
            background-color: transparent;
            width: auto;
            display: grid;
            justify-items: center;
            margin-right: 0;
        }
        #accommodationsResults {
            background-color: transparent;
            width: auto;
            display: grid;
            justify-items: center;
        }
        #accommodationsResults .card {          
            height: 196px;
            width:321px;
        }
        #accommodationsResults .card img {
            width: 97%;
        }
        #returnLine {
            width: auto;
            margin-right: 225px;
        }
        #accommodationsPopular {  
            display: grid;          
            margin-top: 1rem;
            align-items: center;
            width: 350px;
            justify-content: center;
            align-self: center;
        }
        #accommodationsPopular .card {          
            height: 196px;
            width:321px;
        }
        #accommodationsPopular #upTitleFormat {
            position: relative;;
        }
        #accommodationsPopular #upTitleFormat img {
            position: absolute;
            top: 1.4rem;
            left : 18rem;
        }
        #activity {          
            margin: 0;
        }
        #activity .card {          
            height: 196px;
            width:321px;
        }
        #activity .card1 {
            grid-column: 1;
            grid-row: 2;   
        }
        #activity .card2 {      
            grid-column: 1;
            grid-row: 3;
        }
        #activity .card3 {      
            grid-column: 1;
            grid-row: 4;
            margin-top: 0;
        }
        #activity .card4 {        
            grid-column: 1;
            grid-row: 5;
        }
        #activity .card5 {     
            grid-column: 1;
            grid-row: 6;
        }
        #activity .card6 {     
            grid-column: 1;
            grid-row: 7;
            margin-top: 0;
        }
}